.admin-partner {}

.admin-partner__input {
    display: grid;
    max-width: 100%;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(max(300px, 40vw), 1fr));
}