.partner__bg-image {
  background: url(../../assets/partner.jpg) center/cover no-repeat;
  text-align: center;
  padding-block: 100px;
}
.partner__bg-image h4 {
  font-size: calc(var(--base-font-size) * 4);
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.075rem;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px -2px 1px rgba(0, 0, 0, 0.25),
    0px -2px 1px #cbcaca, 0px -2px 4px rgba(0, 0, 0, 0.25);
}
.partners {
  padding-block: var(--heading-3);
}
.partners h1 {
  color: #3a3a3a;
}
.partners__grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(max(240px, 40vw), 1fr));
}
.partners__grid__box {
  display: flex;
  align-items: center;
  gap: 40px;
}
.partners__grid__box__text {
  text-align: left;
  align-self: center;
}
.partners__grid__box__text h3 {
  font-weight: 500;
}
.partners__grid__box__text p {
  color: #787878;
}
.partners__list__image {
  background-color: #f5f5f5;
  width: max-content;
  max-width: 100%;
}
.partners__list__image > * {
  padding: var(--heading-2);
}

@media screen and (min-width: 1024px) {
  .partner__bg-image h4 {
    font-size: calc(var(--base-font-size) * 6.25);
  }
}
